/* MENU BUTTON */

.menubtn {
    background-color: #84A59D;
    color: #3D5A80;
    padding: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
    background-color: #F7EDE2;
}

.menucontent {
    display: none;
    position: absolute;
    margin-top: 60px;
}

.menucontent a {
    display: block;
    padding: 10px;
    background-color: #F7EDE2;
    color: #3D5A80;
    font-family: 'Yantramanav', sans-serif;
}

.menucontent a:hover {
    background-color: #F5CAC3;
    color: #F28482;
}

.menu:hover .menucontent {
    display: block;
}

/*HEADER*/

header {
    background-color: #F7EDE2;
    display: flex;
    flex-direction: column;
}

.hdrname h1 {
    color: #84A59D;
    margin-bottom: -5px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 4rem;
}

header h2 {
    color: #F28482;
    margin-top: -5px;
    text-align: center;
    font-family: 'Yantramanav', sans-serif;
    font-size: 2rem;
}
