/*FONTS

font-family: 'Caveat Brush', cursive;
font-family: 'Yantramanav', sans-serif; */

html {
    background-color: #F7EDE2;
}

/* MENU BUTTON */

.menubtn {
    background-color: #84A59D;
    color: #3D5A80;
    padding: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
    background-color: #F7EDE2;
}

.menucontent {
    display: none;
    position: absolute;
    margin-top: 60px;
}

.menucontent a {
    display: block;
    padding: 10px;
    background-color: #F7EDE2;
    color: #3D5A80;
    font-family: 'Yantramanav', sans-serif;
}

.menucontent a:hover {
    background-color: #F5CAC3;
    color: #F28482;
}

.menu:hover .menucontent {
    display: block;
}

/*HEADER*/

header {
    background-color: #F7EDE2;
    display: flex;
    flex-direction: column;
}

header h1 {
    color: #84A59D;
    margin-bottom: -5px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 5rem;
}

header h2 {
    color: #F28482;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    font-family: 'Yantramanav', sans-serif;
    font-size: 2rem;
}

/*MAIN*/

.books {
    background-color: #F5CAC3;
    display: grid;
    grid-template-areas: 
    "bookhdr bookimg"
    "booktxt bookimg";
    padding: 20px;
    margin-bottom: 50px;
}

.bookhdr {
    grid-area: bookhdr;
    font-family: 'Caveat Brush', cursive;
    font-size: 6rem;
    color: #3D5A80;
    display: flex;
    flex-direction: column;
}

.bookhdr h3 {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.bookhdr h4 {
    display: flex;
    justify-content: center;
    font-family: 'Yantramanav', sans-serif;
    margin-top: -10px;
    margin-bottom: -20px;
}

.bookimg {
    grid-area: bookimg;
    display: flex;
}

.booktxt {
    grid-area: booktxt;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.5rem;
    color: #3D5A80;
    padding-left: 50px;
    padding-right: 50px;
}

img {
    max-width: 400px;
}

/*ASIDE*/

aside{
    font-family: 'Caveat Brush', cursive;
    font-size: 4rem;
    color: #F28482;
    display: flex;
    flex-direction: column;
}

.merch {
    display: flex;
    justify-content: space-around;
    margin-bottom: -1px;
}

.signed {
    display: flex;
    justify-content: space-around;
    margin-top: -1px;
}

/*SECTION*/

section {
    background-color: #84A59D;
}

section h5 {
    font-family: 'Caveat Brush', cursive;
    font-size: 4rem;
    color: #3D5A80;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.insta-images {
    display: flex;
    flex-direction: column;
}